#FifthIR:
#Block_0
	SUB B B
	INC B 
	INC B 
	INC B 
	INC B 
	INC B 
	INC B 
	INC B 
	INC B 
	INC B 
	INC B 
#end of Block_0
#Block_1
	SUB C C
	INC C 
	INC C 
	INC C 
	INC C 
	INC C 
	INC C 
	INC C 
	INC C 
	INC C 
	INC C 
	ADD C C
	COPY D C
	SUB D B
	JZERO D 27 #Block_Condition_0_ifFalse
	JUMP  28 #Block_Condition_0_ifTrue
#end of Block_1
#Block_Condition_0_ifFalse
	HALT  
#end of Block_Condition_0_ifFalse
#Block_Condition_0_ifTrue
	PUT B 
	JUMP  11 #Block_1
#end of Block_Condition_0_ifTrue
