#FirstIR:
#Block_0
	READ a 
#end of Block_0
#Block_1
	CONST variable_0 0
	JMR a variable_0
#ifTrue Block_Condition_0_ifTrue
#ifFalse Block_Condition_0_ifFalse
#end of Block_1
#Block_Condition_0_ifTrue
	CONST variable_1 2
	COPY b a
	MOD b variable_1
	CONST variable_2 2
	DIV a variable_2
	WRITE b 
#jump to Block_1
#end of Block_Condition_0_ifTrue
#Block_Condition_0_ifFalse
	HALT  
#end of Block_Condition_0_ifFalse
