#SecondIR:
#Block_0
	CONST b 0
	CONST c 10
#jump to ForBlock_0_initialForControl
#end of Block_0
#ForBlock_0_initialForControl
	COPY i_forControl b
	INC i_forControl 
	SUB i_forControl c
	JZERO i_forControl 
#ifTrue Block_8
#ifFalse Block_2
#end of ForBlock_0_initialForControl
#Block_2
	CONST variable_0 10
	CONST variable_1 200
	JMR variable_0 variable_1
#ifTrue Block_3
#ifFalse ForBlock_0_exitFor
#end of Block_2
#Block_3
	CONST variable_2 10
	CONST variable_3 200
	JMR variable_2 variable_3
#ifTrue Block_Condition_1_ifTrue
#ifFalse Block_Condition_1_ifFalse
#end of Block_3
#Block_Condition_1_ifTrue
	CONST variable_4 9
	WRITE variable_4 
#jump to ForBlock_0_exitFor
#end of Block_Condition_1_ifTrue
#Block_Condition_1_ifFalse
	CONST variable_5 8
	WRITE variable_5 
#jump to ForBlock_0_exitFor
#end of Block_Condition_1_ifFalse
#ForBlock_0_exitFor
	DEC i_forControl 
	JZERO i_forControl 
#ifTrue Block_8
#ifFalse Block_2
#end of ForBlock_0_exitFor
#Block_8
	HALT  
#end of Block_8
