FirstIR:
#Block_0
	CONST a 10
	CONST b 20
	CONST variable_0 0
	CONST variable_1 1
	JMR variable_0 variable_1
#ifTrue Block_2
#ifFalse Block_1
#end of Block_0
#Block_2
	CONST a 100
#end of Block_2
#Block_1
	CONST variable_2 2
	JMR a variable_2
#ifTrue Block_4
#ifFalse Block_3
#end of Block_1
#Block_4
	CONST a 101
#end of Block_4
#Block_3
	CONST variable_3 3
	JMR variable_3 a
#ifTrue Block_6
#ifFalse Block_5
#end of Block_3
#Block_6
	CONST a 102
#end of Block_6
#Block_5
	JMR b a
#ifTrue Block_8
#ifFalse Block_7
#end of Block_5
#Block_8
	CONST a 103
#end of Block_8
#Block_7
	JMR a b
#ifTrue Block_10
#ifFalse Block_9
#end of Block_7
#Block_10
	CONST a 104
#end of Block_10
#Block_9
	JMR a a
#ifTrue Block_12
#ifFalse Block_11
#end of Block_9
#Block_12
	CONST a 105
#end of Block_12
#Block_11
	HALT  
#end of Block_11
