FirstIR:
CONST: a 10 
CONST: b 20 
CONST: variable_0 0 
CONST: variable_1 1 
JLE: variable_0 variable_1 goto L_0
CONST: a 100 
JUMP:   goto L_1
#L_0
CONST: b 200 
#L_1
HALT:   
