#FirstIR:
#Block_0
	CONST a 1
	CONST b 2
	CONST c 3
	COPY a b
	DIV a c
	DIV a b
	COPY variable_0 a
	COPY a b
	DIV a variable_0
	HALT  
#end of Block_0
