#ThirdIR:
#Block_0
	CONST array(0) 100
	CONST array(1) 101
	CONST array(2) 102
	CONST array(3) 103
	CONST array(4) 104
	CONST array(5) 105
	CONST array(6) 106
	CONST array(100) 200
	CONST variable_0 10
	CONST variable_1 20
	COPY a variable_0
	ADD a variable_1
	COPY variable_2 array(100)
	COPY array(1) variable_2
	WRITE array(1) 
	HALT  
#end of Block_0
