FirstIR:
#Block_0
	CONST a 10
	CONST b 20
#end of Block_0
#Block_3
	COPY i b
	COPY i_forControl i
	SUB i_forControl a
	JZERO i_forControl 
#ifTrue Block_2
#ifFalse Block_1
#end of Block_3
#Block_1
	WRITE i 
#end of Block_1
#Block_4
	DEC i 
	DEC i_forControl 
	JZERO i_forControl 
#ifTrue Block_2
#ifFalse Block_1
#end of Block_4
#Block_2
#end of Block_2
#Block_5
	HALT  
#end of Block_5
