#FirstIR:
#Block_0
	CONST a 10
	CONST b 20
	CONST c 30
	CONST d 40
#end of Block_0
#Block_1
	WRITE a 
#end of Block_1
#Block_2
	CONST variable_0 2
	CONST variable_1 3
	JMR variable_0 variable_1
#ifTrue Block_Condition_0_ifTrue
#ifFalse Block_Condition_0_ifFalse
#end of Block_2
#Block_Condition_0_ifTrue
#jump to Block_1
#end of Block_Condition_0_ifTrue
#Block_Condition_0_ifFalse
#end of Block_Condition_0_ifFalse
#Block_3
	WRITE b 
#end of Block_3
#Block_4
	CONST variable_2 0
	CONST variable_3 1
	JMR variable_2 variable_3
#ifTrue Block_Condition_1_ifTrue
#ifFalse Block_Condition_1_ifFalse
#end of Block_4
#Block_Condition_1_ifTrue
#jump to Block_3
#end of Block_Condition_1_ifTrue
#Block_Condition_1_ifFalse
	WRITE c 
	HALT  
#end of Block_Condition_1_ifFalse
