#FirstIR:
#Block_0
	CONST a 10
	CONST b 20
	CONST c 30
	CONST d 40
#end of Block_0
#ForBlock_1_initialForControl
	COPY i a
	COPY i_forControl b
	INC i_forControl 
	SUB i_forControl i
	JZERO i_forControl 
#ifTrue Block_7_For_1_Content
#ifFalse Block_1_For_0_Content
#end of ForBlock_1_initialForControl
#Block_1_For_0_Content
	WRITE a 
#end of Block_1_For_0_Content
#ForBlock_0_initialForControl
	COPY ii c
	COPY ii_forControl b
	INC ii_forControl 
	SUB ii_forControl ii
	JZERO ii_forControl 
#ifTrue Block_3_For_0_Content
#ifFalse Block_2_For_0_Content
#end of ForBlock_0_initialForControl
#Block_2_For_0_Content
	WRITE b 
#end of Block_2_For_0_Content
#ForBlock_0_exitFor
	INC ii 
	DEC ii_forControl 
	JZERO ii_forControl 
#ifTrue Block_3_For_0_Content
#ifFalse Block_2_For_0_Content
#end of ForBlock_0_exitFor
#Block_3_For_0_Content
#end of Block_3_For_0_Content
#Block_6
	WRITE c 
#end of Block_6
#ForBlock_1_exitFor
	INC i 
	DEC i_forControl 
	JZERO i_forControl 
#ifTrue Block_7_For_1_Content
#ifFalse Block_1_For_0_Content
#end of ForBlock_1_exitFor
#Block_7_For_1_Content
#end of Block_7_For_1_Content
#Block_10
	WRITE d 
	HALT  
#end of Block_10
