#FirstIR:
#Block_0
	CONST a 10
	CONST b 20
#end of Block_0
#ForBlock_0_initialForControl
	CONST i 20
	COPY i_forControl i
	INC i_forControl 
	CONST variable_0 10
	SUB i_forControl variable_0
	JZERO i_forControl 
#ifTrue Block_2_For_0_Content
#ifFalse Block_1_For_0_Content
#end of ForBlock_0_initialForControl
#Block_1_For_0_Content
	WRITE a 
#end of Block_1_For_0_Content
#ForBlock_0_exitFor
	DEC i 
	DEC i_forControl 
	JZERO i_forControl 
#ifTrue Block_2_For_0_Content
#ifFalse Block_1_For_0_Content
#end of ForBlock_0_exitFor
#Block_2_For_0_Content
#end of Block_2_For_0_Content
#Block_5
#end of Block_5
#ForBlock_1_initialForControl
	COPY i a
	COPY i_forControl i
	INC i_forControl 
	CONST variable_1 20
	SUB i_forControl variable_1
	JZERO i_forControl 
#ifTrue Block_7_For_1_Content
#ifFalse Block_6_For_1_Content
#end of ForBlock_1_initialForControl
#Block_6_For_1_Content
	WRITE a 
#end of Block_6_For_1_Content
#ForBlock_1_exitFor
	DEC i 
	DEC i_forControl 
	JZERO i_forControl 
#ifTrue Block_7_For_1_Content
#ifFalse Block_6_For_1_Content
#end of ForBlock_1_exitFor
#Block_7_For_1_Content
#end of Block_7_For_1_Content
#Block_10
#end of Block_10
#ForBlock_2_initialForControl
	CONST i 10
	COPY i_forControl i
	INC i_forControl 
	SUB i_forControl a
	JZERO i_forControl 
#ifTrue Block_12_For_2_Content
#ifFalse Block_11_For_2_Content
#end of ForBlock_2_initialForControl
#Block_11_For_2_Content
	WRITE a 
#end of Block_11_For_2_Content
#ForBlock_2_exitFor
	DEC i 
	DEC i_forControl 
	JZERO i_forControl 
#ifTrue Block_12_For_2_Content
#ifFalse Block_11_For_2_Content
#end of ForBlock_2_exitFor
#Block_12_For_2_Content
#end of Block_12_For_2_Content
#Block_15
	WRITE b 
	HALT  
#end of Block_15
