ThirdIR:
#Block_0
	CONST a 10
	CONST b 20
	JUMP  #Block_1
#end of Block_0
#Block_1
	COPY variable_0 b
	SUB variable_0 a
	JZERO variable_0 #Block_2
	JUMP  #Block_3
#end of Block_1
#Block_3
	CONST a 100
	JUMP  #Block_2
#end of Block_3
#Block_2
	WRITE a 
	HALT  
#end of Block_2
