#ThirdIR:
#Block_0
	CONST a 10
	CONST b 20
	JUMP  #Block_1
#jump to Block_1
#end of Block_0
#Block_1
	#DO NOT REMOVE CONST  
	COPY IF_CONTROL_VARIABLE b
	INC IF_CONTROL_VARIABLE 
	SUB IF_CONTROL_VARIABLE a
	JZERO IF_CONTROL_VARIABLE #Block_Condition_0_ifFalse
	COPY IF_CONTROL_VARIABLE a
	INC IF_CONTROL_VARIABLE 
	SUB IF_CONTROL_VARIABLE b
	JZERO IF_CONTROL_VARIABLE #Block_Condition_0_ifFalse
	JUMP  #Block_Condition_0_ifTrue
#ifTrue Block_Condition_0_ifTrue
#ifFalse Block_Condition_0_ifFalse
#end of Block_1
#Block_Condition_0_ifTrue
	CONST a 100
	JUMP  #Block_Condition_0_ifFalse
#jump to Block_Condition_0_ifFalse
#end of Block_Condition_0_ifTrue
#Block_Condition_0_ifFalse
	WRITE a 
	HALT  
#end of Block_Condition_0_ifFalse
