#FirstIR:
#Block_0
	CONST a 10
	CONST b 20
#end of Block_0
#Block_1
	CONST variable_0 0
	CONST variable_1 1
	JMR variable_0 variable_1
#ifTrue Block_Condition_0_ifTrue
#ifFalse Block_Condition_0_ifFalse
#end of Block_1
#Block_Condition_0_ifTrue
	CONST a 100
#jump to Block_Condition_0_ifFalse
#end of Block_Condition_0_ifTrue
#Block_Condition_0_ifFalse
#end of Block_Condition_0_ifFalse
#Block_2
	CONST variable_2 2
	JMR a variable_2
#ifTrue Block_Condition_1_ifTrue
#ifFalse Block_Condition_1_ifFalse
#end of Block_2
#Block_Condition_1_ifTrue
	CONST a 101
#jump to Block_Condition_1_ifFalse
#end of Block_Condition_1_ifTrue
#Block_Condition_1_ifFalse
#end of Block_Condition_1_ifFalse
#Block_3
	CONST variable_3 3
	JMR variable_3 a
#ifTrue Block_Condition_2_ifTrue
#ifFalse Block_Condition_2_ifFalse
#end of Block_3
#Block_Condition_2_ifTrue
	CONST a 102
#jump to Block_Condition_2_ifFalse
#end of Block_Condition_2_ifTrue
#Block_Condition_2_ifFalse
#end of Block_Condition_2_ifFalse
#Block_4
	JMR b a
#ifTrue Block_Condition_3_ifTrue
#ifFalse Block_Condition_3_ifFalse
#end of Block_4
#Block_Condition_3_ifTrue
	CONST a 103
#jump to Block_Condition_3_ifFalse
#end of Block_Condition_3_ifTrue
#Block_Condition_3_ifFalse
#end of Block_Condition_3_ifFalse
#Block_5
	JMR a b
#ifTrue Block_Condition_4_ifTrue
#ifFalse Block_Condition_4_ifFalse
#end of Block_5
#Block_Condition_4_ifTrue
	CONST a 104
#jump to Block_Condition_4_ifFalse
#end of Block_Condition_4_ifTrue
#Block_Condition_4_ifFalse
#end of Block_Condition_4_ifFalse
#Block_6
	JMR a a
#ifTrue Block_Condition_5_ifTrue
#ifFalse Block_Condition_5_ifFalse
#end of Block_6
#Block_Condition_5_ifTrue
	CONST a 105
#jump to Block_Condition_5_ifFalse
#end of Block_Condition_5_ifTrue
#Block_Condition_5_ifFalse
	HALT  
#end of Block_Condition_5_ifFalse
