#FirstIR:
#Block_0
#end of Block_0
#Block_1
	CONST variable_0 0
	CONST variable_1 1
	JME variable_0 variable_1
#ifTrue Block_Condition_0_ifTrue
#ifFalse Block_Condition_0_ifFalse
#end of Block_1
#Block_Condition_0_ifTrue
#end of Block_Condition_0_ifTrue
#Block_2
	CONST variable_2 2
	CONST variable_3 3
	JLS variable_2 variable_3
#ifTrue Block_Condition_1_ifTrue
#ifFalse Block_Condition_1_ifFalse
#end of Block_2
#Block_Condition_1_ifTrue
#end of Block_Condition_1_ifTrue
#Block_3
	CONST variable_4 4
	CONST variable_5 5
	JLE variable_4 variable_5
#ifTrue Block_Condition_2_ifTrue
#ifFalse Block_Condition_2_ifFalse
#end of Block_3
#Block_Condition_2_ifTrue
#end of Block_Condition_2_ifTrue
#Block_4
	CONST variable_6 6
	CONST variable_7 7
	JEQ variable_6 variable_7
#ifTrue Block_Condition_3_ifTrue
#ifFalse Block_Condition_3_ifFalse
#end of Block_4
#Block_Condition_3_ifTrue
	CONST a 8
#jump to Block_Condition_3_ifFalse
#end of Block_Condition_3_ifTrue
#Block_Condition_3_ifFalse
#jump to Block_Condition_2_ifFalse
#end of Block_Condition_3_ifFalse
#Block_Condition_2_ifFalse
#jump to Block_Condition_1_ifFalse
#end of Block_Condition_2_ifFalse
#Block_Condition_1_ifFalse
#end of Block_Condition_1_ifFalse
#Block_5
	CONST variable_8 9
	CONST variable_9 10
	JNE variable_8 variable_9
#ifTrue Block_Condition_4_ifTrue
#ifFalse Block_Condition_4_ifFalse
#end of Block_5
#Block_Condition_4_ifTrue
	CONST a 11
#jump to Block_Condition_4_ifFalse
#end of Block_Condition_4_ifTrue
#Block_Condition_4_ifFalse
#end of Block_Condition_4_ifFalse
#Block_6
	CONST variable_10 12
	CONST variable_11 13
	JLS variable_10 variable_11
#ifTrue Block_Condition_5_ifTrue
#ifFalse Block_Condition_5_ifFalse
#end of Block_6
#Block_Condition_5_ifTrue
	CONST a 14
#jump to Block_Condition_5_ifFalse
#end of Block_Condition_5_ifTrue
#Block_Condition_5_ifFalse
#end of Block_Condition_5_ifFalse
#Block_7
	CONST variable_12 15
	CONST variable_13 16
	JNE variable_12 variable_13
#ifTrue Block_Condition_6_ifTrue
#ifFalse Block_Condition_6_ifFalse
#end of Block_7
#Block_Condition_6_ifTrue
	CONST a 17
#jump to Block_Condition_6_ifFalse
#end of Block_Condition_6_ifTrue
#Block_Condition_6_ifFalse
#jump to Block_Condition_0_ifFalse
#end of Block_Condition_6_ifFalse
#Block_Condition_0_ifFalse
	HALT  
#end of Block_Condition_0_ifFalse
